[Unit]
# Human readable name of the unit
Description=GFx Viewer: View key data from the GFx Gauge PLC

[Service]
# Command to execute when the service is started
WorkingDirectory= /opt/gfx-viewer/src
ExecStart=uwsgi -i /opt/gfx-viewer/src/uwsgi.ini
Restart=always
RestartSec=30s

[Install]
WantedBy=default.target

