<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% from 'bootstrap/nav.html' import render_nav_item %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('overview', 'Overview') }}
            {{ render_nav_item('production', 'Production') }}
            {{ render_nav_item('rabbits', 'Red Rabbit Status') }}
            {{ render_nav_item('bypass', 'Bypass Status') }}
        </div>
    </nav>

    <!-- Your page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>